<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" href="main.css">
</head>
<body>
	<div class="container">
		<section class="burger_menu">
			<div class="logo">
				<img src="../../img/Vector.png" alt="">
				<div class="logo_upper_part">
					<img src="../../img/W.svg" alt="">
				</div>
			</div>
			<div class="menu">
				<a href="../../index.html">Главная</a>
				<a href="../../index.html #sessions">Сеансы</a>
				<a href="../../index.html #slider_menu">Отзывы</a>
				<a href="">Контакты</a>
				<a href="">Новости</a>
				<a href="../../index.html #about_us">Об Ritmstyle</a>
				<a href="">Блог</a>
			</div>
			<div class="connect_with_us">
				<button>Записаться на сеанс</button>
			</div>
		</section>

		<section class="main">
			<h2><img src="../../img/for_H_left.png" alt=""> Новый формат сеансов <img src="../../img/for_H_right.png" alt=""></h2>
			<div class="content">
				<div class="left">
				<p>13.02.2022</p> <br>
				<h4>Новый формат сеансов</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget massa vitae tempus at pretium lacus viverra. Vitae libero vivamus quis enim quam vitae dictumst nulla duis. Sed nisl nibh et morbi tristique suspendisse morbi. Consequat facilisi tortor consectetur magnis odio. Risus, aenean tortor cras consectetur lacus, ut erat ac et. Fermentum aliquam ac egestas eget risus a. Maecenas sed pellentesque bibendum vitae at praesent sed. Amet pretium arcu gravida arcu ut dui sem quis id. Tristique in leo donec proin odio eget. Neque ut in egestas lacus sit nunc, nec. Proin mattis augue sit leo sagittis nam id accumsan. Pulvinar nunc fermentum vulputate ultrices pulvinar sed ultrices quis. <br><br>
				Tempor facilisis tellus ac, odio. A amet congue tristique nibh malesuada lectus. Purus quam dapibus rhoncus iaculis amet tristique. Mattis fusce lorem fames mauris orci rhoncus, amet fringilla. Quis integer vitae at vitae urna etiam sed eu sit. <br><br>
				Vitae turpis ullamcorper habitant fermentum aliquet volutpat. </p>
				</div>
				<div class="right">
				 <img src="img/new_type.svg" alt="">	
				</div>
			</div>	
		</section>

		<section class="footer">
			<hr>
			<div class="footer_flex">
				<p>© 2018-2022 RitmStyle</p>
				<p>Сделано d-e-n.info</p>
			</div>
		</section>
	</div>
</body>
</html>